{% extends "base.html" %}
{% load i18n django_bootstrap5 %}

{% block content %}
<div class="container">
    <h1 class="my-4">
        {% if object %}{% trans "Изменить пользователя" %}{% else %}{% trans "Создать пользователя" %}{% endif %}
    </h1>

    <form method="post">
        {% csrf_token %}

        {% bootstrap_field form.username show_label=True %}
        {% bootstrap_field form.first_name show_label=True %}
        {% bootstrap_field form.last_name show_label=True %}

        {% if not object %}
            {% comment %} Поля пароля только при создании {% endcomment %}
            {% bootstrap_field form.password1 show_label=True %}
            {% bootstrap_field form.password2 show_label=True %}
        {% endif %}

        <button type="submit" class="btn btn-primary" id="submit-button">
            {% if object %}
                {% trans "Изменить" %}
            {% else %}
                {% trans "Зарегистрировать" %}
            {% endif %}
        </button>
    </form>
</div>
{% endblock %}