{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="container">
    <h1 class="my-4">{% trans "Удалить метку" %}</h1>

    <p>{% trans "Вы действительно хотите удалить метку" %} <strong>{{ object.name }}</strong>?</p>

    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">{% trans "Да, удалить" %}</button>
        <a href="{% url 'labels:list' %}" class="btn btn-secondary">{% trans "Выход" %}</a>
    </form>
</div>
{% endblock %}