{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="container">
    <h1 class="my-4">{% trans "Просмотр задачи" %}</h1>

    <div class="card">
        <div class="card-header bg-secondary text-white">
            <h2>{{ task.name }}</h2>
        </div>
        <div class="card-body">
            <p class="card-text">{{ task.description }}</p>
            <div class="container">
                <!-- ... остальные поля ... -->
                <div class="row border-bottom p-2">
                    <div class="col fw-bold">{% trans "Метки" %}</div>
                    <div class="col">
                        {% for label in task.labels.all %}
                            <span class="badge bg-secondary">{{ label.name }}</span>
                        {% empty %}
                            {% trans "Нет меток" %}
                        {% endfor %}
                    </div>
                </div>
                <!-- ... остальные поля ... -->
            </div>
        </div>
        <div class="card-footer">
            <a href="{% url 'tasks:update' task.id %}" class="btn btn-primary">
                {% trans "Обновить" %}
            </a>
            <a href="{% url 'tasks:delete' task.id %}" class="btn btn-danger">
                {% trans "Удалить" %}
            </a>
        </div>
    </div>
</div>
{% endblock %}